body {
  margin: 0;
  padding: 0;
  font-family: inter, arial;
  font-size: 20px;
  color: #c6d6d6;
  background: linear-gradient(to bottom right, #282832, #dee7e7, #282832);
  overflow: hidden;
}

header {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin: auto;
  background-color: #282832;
  padding-top: 15px;
  height: 75px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 5px;
}

.coderhood {
  margin: -67px 0 0 -100px;
  height: 200px;
}

.pbltex {
  height: 65px;
}

#container-login p {
  font-size: 40px;
  display: flex;
  justify-content: center;
  padding: 2vh 0;
  margin: 8vh auto;
  border-radius: 5px;
  width: 70.5vh;
  background-color: #a92727;
  box-shadow: rgba(0, 0, 0, 0.366) 0px 3px 5px;
}

#container-box-user {
  color: #000;
  font-size: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10vh 5vh;
  margin: 8vh auto;
  border-radius: 5px;
  width: 60vh;
  background-color: rgb(198, 214, 214);
  box-shadow: rgba(0, 0, 0, 0.64) 0px 5px 15px;
}

#container-box-user .first-label,
.second-label {
  text-align: center;
  font-size: 15px;
  display: flex;
  justify-content: center;
}

#container-box-user .second-label {
  margin-top: 30px;
}

#container-box-user input {
  display: flex;
  justify-content: center;
  padding: 15px;
  margin-top: 5px;
  border: none;
  border-radius: 5px;
}

#container-box-user button {
  display: block;
  width: 50%;
  margin: 20px auto;
  background-color: #a92727;
  color: rgb(255, 216, 189);
  font-size: 20px;
  padding: 10px 0;
  border: none;
  border-radius: 25px;
}

#container-box-user a {
  text-decoration: none;
}

#container-box-user button:hover {
  background-color: green;
  box-shadow: rgba(0, 0, 0, 0.64) 0px 5px 15px;
  transition: 0.5s;
  cursor: pointer;
}
